.writer-page {
  max-width: 717px;
}

canvas {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}
.actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 0.5rem;
  gap: 10px;
}
.btn {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(
    100% 100% at 100% 0,
    #5adaff 0,
    #5468ff 100%
  );
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}

.btn:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.btn:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.btn:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}

.hidden {
  visibility: hidden;
}

.d-none {
  display: none;
}

.result {
  font-size: 35px;
  color: rgb(129, 136, 144);
  margin-top: 1rem;
  position: relative;
}

.result .title {
  font-weight: bold;
}

.canvas-wrapper {
  position: relative;
}

.fire {
  position: absolute;
  top: 70%; /* position the top  edge of the element at the middle of the parent */
  left: 50%; /* position the left edge of the element at the middle of the parent */
  transform: translate(-50%, -50%);
  pointer-events: none;
}

.btn-title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.btn-title .image {
  width: 30px;
  height: 30px;
}

.btn-title .image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.result .by {
  font-style: italic;
  text-align: end;
  font-size: 20px;
}

.stuffs {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1rem;
}

.stuffs .slider {
  flex-basis: 40%;
}